public/
esphome-docs
.hugo_build.lock
.idea
/node_modules/
/pagefind/
/data/repo.yaml
/data/anchors.json
/data/automations
my-secrets
resources/_gen

_build
.DS_Store

.cache/
.python-version
__pycache__/
*.py[cod]
*$py.class

# Release notes generator cache (persistent PR cache + version-specific data)
script/cache/

venv

*.DS_Store
/.idea/

_pagefind/

# Vim
*.swp
