voluptuous==0.11.7
PyYAML==5.1.2
paho-mqtt==1.4.0
colorlog==4.0.2
tornado==5.1.1
typing>=3.6.6;python_version<"3.5"
protobuf==3.10.0
tzlocal==2.0.0
pytz==2019.3
pyserial==3.4
ifaddr==0.1.6
platformio==4.0.3
esptool==2.7

pylint==1.9.4 ; python_version<"3"
pylint==2.3.0 ; python_version>"3"
flake8==3.6.0
pillow
pexpect
