voluptuous==0.13.1
PyYAML==6.0
paho-mqtt==1.6.1
colorama==0.4.6
tornado==6.3.2
tzlocal==5.0.1    # from time
tzdata>=2021.1  # from time
pyserial==3.5
platformio==6.1.7  # When updating platformio, also update Dockerfile
esptool==4.6
click==8.1.3
esphome-dashboard==20230516.0
aioesphomeapi==14.0.0
zeroconf==0.64.1

# esp-idf requires this, but doesn't bundle it by default
# https://github.com/espressif/esp-idf/blob/220590d599e134d7a5e7f1e683cc4550349ffbf8/requirements.txt#L24
kconfiglib==13.7.1

# esp-idf >= 5.0 requires this
pyparsing >= 3.0
