pylint==2.7.2
flake8==3.9.0
black==20.8b1
pillow>4.0.0
cryptography>=2.0.0,<4
pexpect==4.8.0
pre-commit

# Unit tests
pytest==6.2.3
pytest-cov==2.11.1
pytest-mock==3.5.1
asyncmock==0.4.2
hypothesis==5.49.0
