voluptuous==0.12.1
PyYAML==5.4.1
paho-mqtt==1.5.1
colorama==0.4.4
tornado==6.1
tzlocal==2.1
pytz==2021.1
pyserial==3.5
platformio==5.2.0
esptool==3.1
click==7.1.2
esphome-dashboard==20210908.0
aioesphomeapi==9.1.1
