voluptuous==0.12.2
PyYAML==5.4.1
paho-mqtt==1.5.1
colorama==0.4.4
tornado==6.1
tzlocal==3.0    # from time
tzdata>=2021.1  # from time
pyserial==3.5
platformio==5.2.1
esptool==3.1
click==8.0.3
esphome-dashboard==20211020.0
aioesphomeapi==9.1.5

# esp-idf requires this, but doesn't bundle it by default
# https://github.com/espressif/esp-idf/blob/220590d599e134d7a5e7f1e683cc4550349ffbf8/requirements.txt#L24
kconfiglib==13.7.1
