# Useful stuff when working in a development environment
clang-format==13.0.1  # .pre-commit-config.yaml rev synced by script/sync_dependency_versions.py
clang-tidy==22.1.8
yamllint==1.38.0  # .pre-commit-config.yaml rev synced by script/sync_dependency_versions.py
