# Copy this file to secrets.yaml and fill in your values
# DO NOT commit secrets.yaml to version control!

wifi_ssid: "your-wifi-ssid"
wifi_password: "your-wifi-password"

api_encryption_key: "generate-a-32-byte-base64-key"
ota_password: "your-ota-password"
fallback_password: "fallback-ap-password"
