<details>
<summary>Assembly Changes (click to expand)</summary>

{% for symbol, change_type, diff_text in disasm_diffs %}
<details>
<summary>{% if change_type == "changed" %}Changed{% elif change_type == "new" %}New{% else %}Removed{% endif %}: <code>{% if symbol|length > symbol_truncate_length %}{{ symbol[:symbol_truncate_length] }}...{% else %}{{ symbol }}{% endif %}</code></summary>

{% if symbol|length > symbol_truncate_length %}
`{{ symbol }}`

{% endif %}
{% if change_type == "changed" %}
```diff
{{ diff_text }}
```
{% else %}
```asm
{{ diff_text }}
```
{% endif %}

</details>
{% endfor %}

</details>
