{{/*
  CHANGELOGS SHORTCODE
  Creates a collapsible list of all changelog entries
  
  Usage: 
  {{< changelogs >}}
  
  This shortcode automatically generates a list of all changelogs in the content/changelog directory,
  sorted in reverse chronological order, wrapped in a collapsible details element.
*/}}

{{- $changelogs := slice -}}
{{- range .Site.Pages -}}
  {{- if and (in .RelPermalink "/changelog/") (not (in .RelPermalink "/guides/")) -}}
    {{- $relPath := strings.TrimPrefix "/changelog/" .RelPermalink -}}
    {{- $relPath = strings.TrimSuffix "/" $relPath -}}
    {{- if and (ne $relPath "") (ne .File.BaseFileName "_index") (not (in $relPath "/")) -}}
      {{/* Remove v prefix if present and process version for sorting */}}
      {{- $versionNum := $relPath -}}
      {{- if hasPrefix $relPath "v" -}}
        {{- $versionNum = substr $relPath 1 -}}
      {{- end -}}
      {{- $sortKey := "" -}}
      {{- $parts := split $versionNum "." -}}
      {{- if eq (len $parts) 3 -}}
        {{- $major := index $parts 0 | int -}}
        {{- $minor := index $parts 1 -}}
        {{- $patch := index $parts 2 -}}
        {{- $sortKey = printf "%04d.%02s.%s" $major $minor $patch -}}
      {{- else -}}
        {{/* Fallback for versions that don't have 3 parts */}}
        {{- $sortKey = $versionNum -}}
      {{- end -}}
      {{- $changelog := dict "version" $relPath "url" .Permalink "title" .Title "sortKey" $sortKey -}}
      {{- $changelogs = $changelogs | append $changelog -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $sorted := sort $changelogs ".sortKey" "desc" -}}
<details>
<summary></summary>
<ul>
{{- range $sorted }}
  {{- if eq .url $.Page.Permalink }}
  <li>{{ .title }} <em>(current page)</em></li>
  {{- else -}}
  <li><a href="{{ .url }}">{{ .title }}</a></li>
  {{ end -}}
{{ end -}}
</ul>

</details>
