{{ $ext := lower (path.Ext .src) }}
{{ $page := .page }}
{{ $caption := .caption }}
{{ $style := .style }}
{{ $thumbSize := .thumbSize | default "180x q20" }}
{{/* Check if image exists in local images directory first */}}
{{ $src := strings.TrimPrefix "/images/" .src }}
{{ $src = strings.TrimPrefix "images/" $src }}
{{- $componentPath := printf "%s/images/%s" (path.Dir $page.File.Path) $src -}}
{{- $globalPath := printf "images/%s" $src -}}
{{ $maxwidth := .maxwidth | default 1500 }}
{{ $classes := .classes  | default "" }}

{{ $image := resources.Get $componentPath }}
{{ if not $image }}
    {{ $image = resources.Get $globalPath }}
{{ end }}
{{ if not $image }}
    <pre>{{ .src }}; {{ $ext }}; {{ $componentPath }} {{ $globalPath}}</pre>
{{ end }}
{{ if not $image }}
    {{ errorf "Unresolved image '%s' in page '%s'" .src .Page.File.Path }}
{{ end }}

{{- if and $image (in (split ".svg,.avif" ",") $ext) -}}
    {{ $imgclasses := printf "w-100 h-100 %s" $classes | safeHTMLAttr }}
    <figure role="none" style="max-width: {{ $maxwidth }}px;" class="{{ $classes }}">
        {{ if .href }}
        <a href='{{ .href }}'>
            {{ end }}
            <img class="{{ $imgclasses }}" src="{{ $image.RelPermalink }}"
                 fetchpriority="high"
                 {{ if $style }}{{ $style }}{{ end }}
                 {{ if .width }}width="{{.width}}" {{ end }}
                 {{ if .height }}height="{{.height}}" {{ end }}
                 alt="{{ .alt }}"/>
            {{ if .href }}
        </a>
        {{ end }}
        {{ with $caption }}
            <figcaption>
                <em>{{ . | markdownify | safeHTML }}</em>
            </figcaption>
        {{ end }}
    </figure>

{{ end }}
{{ if and $image (in (split ".jpeg,.jpg,.png,.webp" ",") $ext) }}
        {{ if isset . "fill" }}
            {{ $image = $image.Fill .fill }}
        {{ end }}
        {{ $placeholder := ($image.Resize $thumbSize) | images.Filter (images.GaussianBlur 1) }}
        {{ $src_set := slice (print $image.RelPermalink " " $image.Width "w") }}
        {{ if gt $maxwidth $image.Width }}
            {{ $maxwidth = $image.Width }}
        {{ end }}

        <!-- Generate a range of image sizes to allow adaptive loading -->
        {{ range $wid := slice  (div $maxwidth 5) (div $maxwidth 3) (div $maxwidth 2) (div $maxwidth 1.5) $maxwidth }}
            {{ $iwid := int $wid }}
            {{ if ge $image.Width $iwid}}
                {{ $i := $image.Resize (print $iwid "x" ) }}
                {{ $src_set = $src_set | append (print $i.RelPermalink " " $iwid "w") }}
            {{ end }}
        {{ end }}

        <noscript>
            <style>
                figure.lazy {
                    display: none;
                }
            </style>
            <figure class="{{ $classes }}">
                {{ if .href }}
                <a href='{{ .href }}'>
                    {{ end }}
                    <img src="{{ $image.RelPermalink }}" {{ if .width }}width="{{.width}}" {{ end }} alt="{{ .alt }}"/>
                    {{ if .href }}
                </a>
                {{ end }}
                {{ with $caption }}
                    <figcaption>
                        <em>{{ . | markdownify | safeHTML }}</em>
                    </figcaption>
                {{ end }}
            </figure>
        </noscript>
        {{ $srclist := delimit $src_set ", " }}
        {{ $imgclasses := printf "lazyload w-100 h-100 %s" $classes | safeHTMLAttr }}
        <figure role="none" style="max-width: {{ $maxwidth }}px;" class="{{ $classes }} lazy">
            {{ if .href }}
                <a href='{{ .href }}'>
            {{ end }}
                <img class="{{ $imgclasses }}" data-sizes="auto" src="{{ $image.RelPermalink }}"
                     fetchpriority="high"
                     {{ if $style }}{{ $style }}{{ end }}
                     srcset="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
                     data-src="{{ $image.RelPermalink }}"
                     data-srcset="{{ $srclist }}"
                     {{ if .width }}width="{{.width}}" {{ end }}
                     {{ if .height }}height="{{.height}}" {{ end }}
                     alt="{{ .alt }}"/>
                {{ if .href }}
            </a>
            {{ end }}
            {{ with $caption }}
                <figcaption>
                    <em>{{ . | markdownify | safeHTML }}</em>
                </figcaption>
            {{ end }}
        </figure>
{{ end }}
